<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>

  </configSections>
  <appSettings>
  
  </appSettings>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="LocalSqlServer" connectionString="Data Source=localhost;Initial Catalog=INTRANET;Persist Security Info=True;User ID=sa;Password=CBSadmin1808" providerName="System.Data.SqlClient" />
    <remove name="CBS" />
    <add name="CBS" connectionString="Data Source=localhost;Initial Catalog=CBS;Persist Security Info=True;User ID=sa;Password=CBSadmin1808" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <httpRuntime executionTimeout="36000" maxRequestLength="10240000" appRequestQueueLimit="100" requestValidationMode="2.0" requestLengthDiskThreshold="100240000" />

  
    <httpHandlers>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices.AccountManagement, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />


      </assemblies>

    </compilation>
    <httpModules>
    </httpModules>


  </system.web>
  <system.webServer>







  </system.webServer>


</configuration>